@model Group13SSIS.Models.DeptVM

@{
    ViewBag.Title = "EditDept";
    Layout = "_AdminLayout.cshtml";
    var headlist = ViewData["heads"] as List<Group13SSIS.Models.User>;
    var replist = ViewData["reps"] as List<Group13SSIS.Models.User>;
    var pointlist = ViewData["points"] as List<Group13SSIS.Models.CollectionPoint>;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FaxNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FaxNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FaxNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HeadId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="HeadId" name="HeadId">
                <option value="">-- Please select a head --</option>
                @foreach (var head in headlist)
                {
                    if (ViewBag.HeadId == head.UserId)
                    {
                        @:<option value="@head.UserId" selected>@head.Name</option>
                    }
                    else
                    {
                        @:<option value="@head.UserId">@head.Name</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.HeadId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RepId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="RepId" name="RepId">
                <option value="">-- Please select a representative --</option>
                @foreach (var rep in replist)
                {
                    if (ViewBag.RepId == rep.UserId)
                    {
                        @:<option value="@rep.UserId" selected>@rep.Name</option>
                    }
                    else
                    {
                        @:<option value="@rep.UserId">@rep.Name</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.RepId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PointId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="PointId" name="PointId">
                <option value="">-- Please select a collection point --</option>
                @foreach (var point in pointlist)
                {
                    if (ViewBag.PointId == point.PointId)
                    {
                        @:<option value="@point.PointId" selected>@point.Name</option>
                    }
                    else
                    {
                        @:<option value="@point.PointId">@point.Name</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.PointId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "DeptList")
</div>
