@using PagedList.Mvc;
@model Group13SSIS.Models.StationeryVM
@{
    ViewBag.Title = "Stationery";
    Layout = "_ClerkLayout.cshtml";
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>StationeryList</h2>
@using (Html.BeginForm("Stationery", "Clerk", FormMethod.Get))
{
    <p>
        Category: @Html.DropDownList("Category", "All")
        Find by Description: @Html.TextBox("Search")
        <input type="submit" value="search" />
    </p>
}
<table class="table">
    <tr>
        <th>Stationery Code</th>
        <th>Description</th>
        <th>Category</th>
        <th>Qty</th>
        <th>ReorderLevel</th>
        <th>ReorderQty</th>
        <th>UOM</th>
    </tr>

    @foreach (var item in Model.Stationeries)
    {
        if (item.Qty > item.ReorderLevel)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Code)</td>
                <td>@Html.DisplayFor(x => item.Description)</td>
                <td>@Html.DisplayFor(x => item.Category)</td>
                <td>@Html.DisplayFor(x => item.Qty)</td>
                <td>@Html.DisplayFor(x => item.ReorderLevel)</td>
                <td>@Html.DisplayFor(x => item.ReorderQty)</td>
                <td>@Html.DisplayFor(x => item.UOM)</td>
            </tr>
        }
        else
        {

            <tr>
                <td style="background-color:lightpink">@Html.DisplayFor(x => item.Code)</td>
                <td style="background-color:lightpink">@Html.DisplayFor(x => item.Description)</td>
                <td style="background-color:lightpink">@Html.DisplayFor(x => item.Category)</td>
                <td style="background-color:lightpink">@Html.DisplayFor(x => item.Qty)</td>
                <td style="background-color:lightpink">@Html.DisplayFor(x => item.ReorderLevel)</td>
                <td style="background-color:lightpink">@Html.DisplayFor(x => item.ReorderQty)</td>
                <td style="background-color:lightpink">@Html.DisplayFor(x => item.UOM)</td>
            </tr>
        }
    }

</table>
Page @(Model.Stationeries.PageCount < Model.Stationeries.PageNumber ? 0 : Model.Stationeries.PageNumber) of @Model.Stationeries.PageCount
@Html.PagedListPager(Model.Stationeries, page => Url.Action("Stationery", new { Category = Model.Category, Search = Model.Search, page }))