@{
    var user = (Group13SSIS.Models.User)Session["user"];
    if (user == null)
    {
        Response.Redirect("~/home/login");
    }
    else if (user.RoleId != 6)
    {
        Response.Redirect("~/home/sorry");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Group13</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="top">
        <div class="header">
            <div class="left">
                Logic University
            </div>
            <div class="right">
                Stationery Store Inventory System

                <ul style="float:right">
                    @if (user != null)
                    {
                        <li style="font-size:26px; padding-top:10PX;">Hello, @user.Name</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="navigation">
            <a>@Html.ActionLink("CollectionPoint", "CollectionPointList", "Manager")</a>
            <a>@Html.ActionLink("Stationery Catalogue", "StationeryList", "Manager")</a>
            <div class="dropdown">
                <button class="dropbtn">Supplier</button>
                <div class="dropdown-content">
                    <a>@Html.ActionLink("Supplier", "SupplierList", "Manager")</a>
                    <a>@Html.ActionLink("SupplyDetail", "SupplyDetailList", "Manager")</a>
                </div>

            </div>
            <div class="clearer"><span></span></div>
        </div>

        <div class="main">
            <div class="content">
                @RenderBody()
                <hr />
                <div class="footer">
                    <p>&copy; @DateTime.Now.Year - Group13 Stationey Store Inventory System</p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
